<div class="min-h-screen bg-gray-100">
  <div class="min-h-[88vh]">
    <div class="bg-blue-600 flex items-center justify-between px-6 py-6">
      <div class="flex items-center gap-4">
        <img src="/assets/task.png" alt="img" class="w-[6rem] h-[3rem]"/>
        <mat-icon>menu</mat-icon>
      </div>
      <div class="flex items-center gap-4">
        <button (click)="setTask('add')" class="text-2xl hover:opacity-80">Add task</button>
        <button [routerLink]="'/login'" class="text-2xl border-8 border-gray-400 rounded-lg px-6 py-2 hover:opacity-80">Login</button>
      </div>
    </div>
    <div class="flex flex-wrap items-center justify-between font-medium px-4 mb-14">
      <span class="text-2xl">{{greet}}</span>
      <p class="text-orange-400 text-2xl">No gree for procrastination!</p>
    </div>
    <p class="px-6 mb-12">{{notify}}</p>
    <task-cards></task-cards>
  </div>
  <task-footer></task-footer>
</div>