<div class="fixed h-screen left-0 right-0 flex z-50">
  <div class="min-w-[18.75rem] bg-gray-200">
    <div class="flex flex-col gap-6 px-6 pt-16 pb-8">
      <span (click)="navigate('all')" class="w-fit text-2xl font-medium cursor-pointer hover:opacity-80">All Tasks</span>
      <span (click)="navigate('failed')" class="w-fit text-2xl font-medium cursor-pointer hover:opacity-80">Failed Tasks</span>
      <span (click)="authenticate()" class="w-fit text-2xl font-medium cursor-pointer hover:opacity-80 min-[476px]:hidden">
        {{isLogin ? 'Logout' : 'Login'}}
      </span>
    </div>
  </div>
  <div (click)="toggleSidebar()" class="w-full bg-transparent cursor-pointer"></div>
</div>